// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define SYM 1
#define NUM 2

/* KEY POSITIONS

// ╭──────────────╮ ╭──────────────╮
// │ 0  1  2  3  4│ │ 5  6  7  8  9│
// │10 11 12 13 14│ │15 16 17 18 19│
// │20 21 22 23 24│ │25 26 27 28 29│
// ╰─────╮30 31 32│ │33 34 35╭─────╯
//       ╰────────╯ ╰────────╯

*/

&kscan0 {
    debounce-press-ms = <10>;
    debounce-release-ms = <15>;
};

/ {
    macros {
        // Macro to send LCTRL + LSHIFT + F11
        // This is equivalent to &kp LCTL(LSFT(F11)) but using explicit macro steps
        // Macro to send LCTRL + LSHIFT + F12
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q  &kp W               &kp E           &kp R           &kp T                   &kp Y                  &kp U            &kp I            &kp O                &kp P
  &kp A  &mt LEFT_CONTROL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &kp G                   &kp H                  &mt RIGHT_ALT J  &mt RIGHT_GUI K  &mt RIGHT_CONTROL L  &kp ENTER
  &kp Z  &kp X               &kp C           &kp V           &kp B                   &kp N                  &kp M            &kp COMMA        &kp DOT              &kp SINGLE_QUOTE
                             &lt 2 TAB       &lt 1 ESC       &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE  &lt 1 BACKSPACE  &mo 2
            >;
        };

        sym {
            bindings = <
  &kp N1    &kp N2                  &kp N3             &kp N4              &kp N5            &kp N6           &kp N7               &kp N8                  &kp N9                &kp N0
  &kp EXCL  &mt LEFT_CONTROL QMARK  &mt LEFT_GUI HASH  &mt LEFT_ALT COLON  &kp PLUS          &kp MINUS        &mt RIGHT_ALT EQUAL  &mt RIGHT_GUI UP_ARROW  &mt RIGHT_CONTROL AT  &kp GRAVE
  &kp BSLH  &kp TILDE               &kp STAR           &kp AMPS            &kp TILDE         &kp UNDER        &kp LEFT             &kp DOWN                &kp RIGHT             &kp SEMI
                                    &kp SLASH          &none               &kp LEFT_SHIFT    &kp RIGHT_SHIFT  &kp PRCNT            &kp SLASH
            >;
        };

        sys {
            bindings = <
  &kp ESCAPE  &trans    &trans           &trans   &bootloader     &bootloader   &trans          &bt BT_CLR      &trans           &kp BACKSPACE
  &kp TAB     &kp HOME  &kp PRINTSCREEN  &kp END  &trans          &trans        &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans
  &trans      &trans    &trans           &trans   &bt BT_SEL 0    &bt BT_SEL 1  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans
                        &trans           &trans   &trans          &trans        &trans          &trans
            >;
        };
    };
};
