// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define SYM 1
#define NUM 2

/* KEY POSITIONS

// ╭──────────────╮ ╭──────────────╮
// │ 0  1  2  3  4│ │ 5  6  7  8  9│
// │10 11 12 13 14│ │15 16 17 18 19│
// │20 21 22 23 24│ │25 26 27 28 29│
// ╰─────╮30 31 32│ │33 34 35╭─────╯
//       ╰────────╯ ╰────────╯

*/

&kscan0 {
    debounce-press-ms = <10>;
    debounce-release-ms = <15>;
};

/ {
    macros {
        // Macro to send LCTRL + LSHIFT + F11
        // This is equivalent to &kp LCTL(LSFT(F11)) but using explicit macro steps
        // Macro to send LCTRL + LSHIFT + F12
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q    &kp W               &kp E           &kp R           &kp T                   &kp Y                  &kp U            &kp I            &kp O                &kp P
  &lt 2 A  &mt LEFT_CONTROL S  &mt LEFT_GUI D  &mt LEFT_ALT F  &lt 2 G                 &lt 2 H                &mt RIGHT_ALT J  &mt RIGHT_GUI K  &mt RIGHT_CONTROL L  &lt 2 RET
  &lt 1 Z  &kp X               &kp C           &kp V           &kp B                   &kp N                  &kp M            &kp COMMA        &kp DOT              &lt 1 SINGLE_QUOTE
                               &to 2           &lt 1 ESC       &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE  &lt 1 BACKSPACE  &to 2
            >;
        };

        sym {
            bindings = <
  &kp N1    &kp N2                  &kp N3             &kp N4              &kp N5       &kp N6     &kp N7               &kp N8              &kp N9                &kp N0
  &kp EXCL  &mt LEFT_CONTROL QMARK  &mt LEFT_GUI HASH  &mt LEFT_ALT COLON  &kp PLUS     &kp MINUS  &mt RIGHT_ALT EQUAL  &mt RIGHT_GUI SEMI  &mt RIGHT_CONTROL AT  &kp GRAVE
  &kp BSLH  &kp TILDE               &kp STAR           &kp AMPS            &kp TILDE    &kp UNDER  &kp LEFT             &kp DOWN            &kp UP                &kp RIGHT
                                    &none              &none               &none        &none      &kp PRCNT            &none
            >;
        };

        sys {
            bindings = <
  &kp ESCAPE  &trans  &trans           &trans  &bootloader     &bootloader   &trans  &bt BT_CLR  &trans  &kp BACKSPACE
  &kp TAB     &trans  &kp PRINTSCREEN  &trans  &trans          &trans        &trans  &trans      &trans  &trans
  &trans      &trans  &trans           &trans  &bt BT_SEL 0    &bt BT_SEL 1  &trans  &trans      &trans  &trans
                      &trans           &trans  &trans          &trans        &trans  &trans
            >;
        };
    };
};

